{% extends 'auth/auth_layout.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content%}
<div class="login">
    {% include "includes/alert.html" %}
    <h1>Login</h1>
    <div class="links">
        <a href="{{ url_for('login') }}" class="active">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
    </div>
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <div class="msg">{{ msg }}</div>
        <div id="video-container">
            <video autoplay="true" id="videoElement">

            </video>
        </div>
        <canvas id="img-canvas"></canvas>
        <input type="hidden" name="image" id="img-data">
        <input type="submit" value="Login">
    </form>
    <script>
        let video = document.querySelector("#videoElement");
            let canvas = document.querySelector("#img-canvas");
            let input = document.querySelector("submit");
            let imageDataInput = document.getElementById("img-data")

            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                    })
                    .catch (function (error) {
                        console.log("Something went wrong!");
                    })
            } else {
                console.log("getUserMedia not supported!")
            }

            input.addEventListener('click', () => {
                // Set the canvas size to match the video size
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;

                // Draw the current frame from the video onto the canvas
                const context = canvas.getContext('2d');
                context.drawImage(video, 0, 0, canvas.width, canvas.height);

                // Extract the image data from the canvas
                const imageDataUrl = canvas.toDataURL('image/png');

                // Display the captured image in an <img> element
                imageDataInput.value = imageDataUrl;
            });
    </script>
    <style>
        #video-container {
            width: 350px;
            height: 200px;
            background-color: #666;
        }

        #videoElement {
            width: 100%;
            height: 100%;
        }
    </style>
</div>
{% endblock %}