{% extends 'auth/auth_layout.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content%}

<div class="register">
	{% include "includes/alert.html" %}
    <h1>Register</h1>
    <div class="links">
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}" class="active">Register</a>
    </div>
    <form action="{{ url_for('register') }}" method="post" autocomplete="off">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <label for="email">
            <i class="fas fa-envelope"></i>
        </label>
        <input type="email" name="email" placeholder="Email" id="email" required>
        <div class="msg">{{ msg }}</div>
        <div id="video-container">
            <video autoplay="true" id="videoElement">

            </video>
        </div>
        <input type="submit" value="Register">
        <script>
            let video = document.querySelector("#videoElement");
    
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                    })
                    .catch (function (error) {
                        console.log("Something went wrong!");
                    })
            } else {
                console.log("getUserMedia not supported!")
            }
        </script>
        <style>
            #video-container {
                width: 350px;
                height: 200px;
                background-color: #666;
            }
    
            #videoElement {
                width: 100%;
                height: 100%;
            }
        </style>
    </form>
</div>
{% endblock %}